*{
    margin: 0;
    padding: 0;
}
ol,ul,li,a{
    list-style: none;
    text-decoration: none;
}
.container{
    width: 1360px;
    margin:  0 auto;
}
.main{
    display: flex;
    justify-content: space-between;
}